<head>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
  /* 안내문 스타일 */
  .container p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
  }

</style>

<div style="height: 100%; width: 100%; justify-content: center; align-items: center; display: flex;">
  <div class="container">
    <h1>시험 대기 중</h1>
    <p>현재 시험이 시작되지 않았습니다.</p>
    <p>시험 시작 시간이 되면 이 페이지를 새로고침하여 시험에 응시해 주세요.</p>
    <div>
      <a href="/exam" class="btn">새로고침</a>
      <a href="/" class="btn">돌아가기</a>
    </div>
    
  </div>
</div>
